.container {
  min-width: 400px;
  padding: 12px;
}

.title {
  font-size: 16px;
}

.row {
  display: block;
  margin-top: 8px;
}

.bookmarks {
  margin-top: 8px;
}

.bookmark {
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bookmark-controls {
  display: flex;
  align-items: center;
  margin-left: 8px;
}

.bookmark-controls img {
  width: 16px;
}
